/* 动态为footer添加类fixed-bottom */
.fixed-bottom {
  position: fixed;
  bottom: 0;
  width:100%;
}

/* for block of numbers */
td.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: center;
  color: #ccc;
  border-right: 2px solid #CCC;
  vertical-align: center;
  padding-left: 3px;
  padding-right: 5px;

  /* your custom style here */
}

/* for block of code */
td.hljs-ln-code {
  padding-left: 5px;
}
