<!-- https://highlightjs.org/ -->
<link rel="stylesheet" href="css/default.min.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="row clearfix">
  <div class="text-center">
    <!-- <h3> <%= title %> <h3> -->
    <h1>
      <%= title %>
    </h1>
  </div>
  </article>
  <div class="row clearfix">
    <div id="show-content_render" class="show_content_render_div col-md-12 column">
    </div>
  </div>
</div>

<!-- https://highlightjs.org/ -->
<script src="js/highlight.min.js"></script>
<script src="js/highlightjs-line-numbers.min.js"></script>
